// COLOR VARIABLES
//  #eead0e
// 	#cd950c
// 	#b8860b
// 	#8b6508
// $color-primary: #eead0e;
// $color-primary: #f7ef8a;
$color-primary: rgb(153, 237, 27);
$color-primary-dark: rgb(121, 187, 22);
// $color-primary-dark: #8b6508;

$color-secondary: #000033;
$color-secondary-light-1: #1a1a47;
$color-secondary-light-2: #33335c;
$color-secondary-light-3: #4d4d70;
$color-secondary-light-4: #666685;

$color-grey-light-1: #ced4da;
$color-grey-light-2: #b9bfc4;
$color-grey-light-3: #a5aaae;
$color-grey-light-4: #909499;

$color-grey-dark-1: #797f84;
$color-grey-dark-2: #686d71;
$color-grey-dark-3: #575b5f;
$color-grey-dark-4: #45484c;

// $color-tertiary: rgb(134, 200, 35);
$color-tertiary: #26370a;

$color-gold: #eead0e;
$color-silver: #c0c0c0;
$color-aqua: #36a0c9;

$color-white: #fff;
$color-black: #000;
